body{
    margin:0px;
    padding:0px;
    
}
.container{
    width:80%;
    margin:auto;
}
.tomato-color{
    color:rgb(240, 106, 83);
}
h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
}
p{
    color:rgb(41, 35, 35);
    font-size:18px;
    padding-bottom: 20px;
}
.butn{
    text-decoration: none;
    color:white;
    padding:15px 35px;
    background:linear-gradient(180deg, salmon, tomato);
    border-radius:5px;
    font-family: arial;
    
}
/*Menu area start*/
.menu ul li{
    list-style:none;
    padding:0 20px;
    float:left;

}
.menu ul li a{
    text-decoration: none;
    color:black;  
}
.menu{
    width:50%;
    float:right;
}
.menu-area{
    overflow:hidden;
    
}
/*Menu area End*/
/*Banner First area start*/
.first-banner{
    overflow: hidden;
}
.half-width{
    width:40%;
    margin:2.5%;
    float:left;
}
.half-width img{
    width:100%;
}
.nayem{
    padding-top:150px;
}
h1{
    font-size:60px;
    margin:0;
    
}
/*Banner First area end*/
/*Banner Second area start*/
.banner-second{
    overflow: hidden;
}
.second-half{
    width:40%;
    margin:2.5%;
    float:left;
}
.second-half img{
    width:100%;
}
h2{
    color:hsl(0, 22%, 17%);
    font-size:40px;
    margin:0;
}
/*Banner second area end*/
/*LASTET WORKING area start*/
.lastet-working-area{
    background:whitesmoke;
    overflow:hidden;
    padding-bottom: 130px;
}
.three-width{
    width:28%;
    float:left;
    padding:1.5%;
    margin:1%;
    background:white;
    border-radius:5%;
}
.three-width img{
    width:100%;
}
.lastet-working-area h2{
    text-align: center;
    margin:70px;
    font-size:40px;
    font-weight: 500;
}
.three-width h3{
    font-size:25px;
    color:#3c3b3b;
}
/*LASTET WORKING area end*/
/*word-inquiry-area start*/
.work-inquiry{
    padding:100px 0;
}
.work-inquiry-area{
    width:75%;
    background-image:url(shapes/Group_33094_1.png);
    margin:auto;
    height: 200px;
    border-radius:35px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
   
}
.work-inquiry-area h2{
    padding:0;
    float:left;
    margin:70px 50px;
}
.work-inquiry-area a{
    float:right;
}
.work-inquiry-area .butn{
    margin:80px 50px;
    
}

/*word-inquiry-area end*/
/* Last part area start*/
.last-part{
   
    width:40%;
    margin:auto;
    text-align: center;
    
}
.last-part h2 a{
    text-decoration: none;
    color:#443f3f;
}
.last-part h2{
    font-size: 35px;
    font-family: arial;
    text-decoration: none;
}
.last-part h3{
    font-family: arial;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color:#716a6a;
}
.last-part img{
    width:10%;
    margin:4%;
}
.last-part-area{
    padding:40px 0;
}
/* Last part area start*/
